{{ if and (eq .category "home") (eq .chezmoi.os "darwin") -}}
{{- $aws_access_key_id     = (index ((onepassword "Personal AWS API").details.fields) 1).value -}}
{{- $aws_secret_access_key = (index ((onepassword "Personal AWS API").details.fields) 0).value -}}
[default]
aws_access_key_id={{ $aws_access_key_id }}
aws_secret_access_key={{ $aws_secret_access_key }}
{{ end -}}
