[default]
{{ if eq .category "home" -}}
aws_access_key_id={{ (index ((onepassword "Personal AWS API").details.fields) 1).value }}
aws_secret_access_key={{ (index ((onepassword "Personal AWS API").details.fields) 0).value }}
mfa_serial={{ (first ((index ((onepassword "Personal AWS API").details.sections) 2).fields)).v }}
{{ end -}}
{{ if eq .category "tpt" -}}
aws_access_key_id={{ (index (lastpass "Private/AWS API") 0).username }}
aws_secret_access_key={{ (index (lastpass "Private/AWS API") 0).password }}
{{ end -}}
