{{- $release_name := get . "chezmoi.osRelease.name" -}}
{{- if eq $release_name "QTS" -}}
path=("/opt/bin" "/opt/sbin" $path /share/CACHEDEV1_DATA/.qpkg/container-station/bin)
export -U PATH

export TERMINFO=/opt/share/terminfo
export TERM=xterm
export TMP=/opt/tmp
export TEMP=/opt/tmp
{{ end -}}
