{{ if eq .category "RechargeApps" -}}
# Vault Address
export VAULT_ADDR=https://vault.rechargeapps.net:8200
# Required in OSX High Sierra and newer
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
{{ end -}}
