[user]
	name = Bill ONeill
	email = woneill@pobox.com
[core]
	autocrlf = input
	safecrlf = true
	editor = /usr/local/bin/vim
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	tool = opendiff
[mergetool]
	prompt = false
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[push]
	default = simple
[diff]
	tool = opendiff
	compactionHeuristic = true
[difftool]
	prompt = false
[rerere]
	enabled = true
[hub]
	protocol = https
[interactive]
	diffFilter = diff-so-fancy
