{{- $home_domain_name := promptStringOnce . "home_domain_name" "Home Domain Name (e.g. foo.com)" -}}
{{- $home_fileserver_hostname := promptStringOnce . "home_fileserver_hostname" "Home Fileserver Hostname (short name)" -}}
{{- $email := promptStringOnce . "email" "Email" -}}
{{- $gitemail := promptStringOnce . "gitemail" "Git Email" -}}
{{- $category := promptStringOnce . "category" "Category: [home, work]" -}}
{{- $home_vault := promptStringOnce . "home_vault" "Home 1password Vault" -}}
{{- $work_vault := promptStringOnce . "work_vault" "Work 1password Vault" -}}
{{- $aws_account_number := promptStringOnce . "aws_account_number" "AWS Account Number" -}}
{{- $piknik_role := promptStringOnce . "piknik_role" "Piknik role (e.g client, server, hybrid)" -}}


{{- $age_identity := joinPath .chezmoi.homeDir ".config" "age" "keys.txt" -}}
{{- $age_recipient := output "age-keygen" "-y" $age_identity | trim -}}

encryption = "age"
[age]
  identity = "{{ $age_identity }}"
  recipients = "{{ $age_recipient }}"

[data]
  home_domain_name = "{{ $home_domain_name }}"
  home_fileserver_hostname = "{{ $home_fileserver_hostname }}"
  email = "{{ $email }}"
  gitemail = "{{ $gitemail }}"
  category = "{{ $category }}"
  home_vault = "{{ $home_vault }}"
  work_vault = "{{ $work_vault }}"
  aws_account_number = "{{ $aws_account_number }}"
  piknik_role = "{{ $piknik_role }}"
