{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "Email" -}}
{{- end -}}
{{- $category := get . "category" -}}
{{- if not $category -}}
{{-   $category = promptString "Category: [home, work]" -}}
{{- end -}}
{{- $github_oauth_token := get . "github_oauth_token" -}}
{{- if not $github_oauth_token -}}
{{-   $github_oauth_token = promptString "GitHub Oauth Token" -}}
{{- end -}}
{{- $aws_account_number := get . "aws_account_number" -}}
{{- if not $aws_account_number -}}
{{-   $aws_account_number = promptString "AWS Account Number" -}}
{{- end -}}
{{- $ansible_repo_path := get . "ansible_repo_path" -}}
{{- if not $ansible_repo_path -}}
{{-   $ansible_repo_path = promptString "Ansible repository path" -}}
{{- end -}}
[data]
  email = "{{ $email }}"
  category = "{{ $category }}"
  github_oauth_token = "{{ $github_oauth_token }}"
  aws_account_number = "{{ $aws_account_number }}"
  ansible_repo_path = "{{ $ansible_repo_path }}"
