.bash_profile
.bash_profile.d
.bashrc
.config/hub
.filebot
.gist
.unison/shared_sync.prf
.zgen
.zshrc.d/01-spaceship
.zshrc.d/50-git
.zshenv.d/spaceship
.zshenv.d/homebrew
{{ if ne .category "home" -}}
.ssh/id_rsa_home
{{ end -}}
Library/Application Support/Dash
zgen
