{{- $home_domain_name := get . "home_domain_name" -}}
{{- if not $home_domain_name -}}
{{-   $home_domain_name = promptString "Home Domain Name (e.g. foo.com)" -}}
{{- end -}}

{{- $home_fileserver_hostname := get . "home_fileserver_hostname" -}}
{{- if not $home_fileserver_hostname -}}
{{-   $home_fileserver_hostname = promptString "Home Fileserver Hostname (short name)" -}}
{{- end -}}

{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "Email" -}}
{{- end -}}

{{- $gitemail := get . "gitemail" -}}
{{- if not $gitemail -}}
{{-   $gitemail = promptString "Git Email" -}}
{{- end -}}

{{- $category := get . "category" -}}
{{- if not $category -}}
{{-   $category = promptString "Category: [home, work]" -}}
{{- end -}}

{{- $home_vault := get . "home_vault" -}}
{{- if not $home_vault -}}
{{-   $home_vault = promptString "Home 1password Vault" -}}
{{- end -}}

{{- $work_vault := get . "work_vault" -}}
{{- if not $work_vault -}}
{{-   $work_vault = promptString "Work 1password Vault" -}}
{{- end -}}

{{- $aws_account_number := get . "aws_account_number" -}}
{{- if not $aws_account_number -}}
{{-   $aws_account_number = promptString "AWS Account Number" -}}
{{- end -}}

{{- $piknik_role := get . "piknik_role" -}}
{{- if not $piknik_role -}}
{{-   $piknik_role = promptString "Piknik role (e.g client, server, hybrid)" -}}
{{- end -}}

{{- $age_identity := joinPath .chezmoi.homeDir ".config" "age" "keys.txt" -}}
{{- $age_recipient := output "age-keygen" "-y" $age_identity | trim -}}

encryption = "age"
[age]
  identity = "{{ $age_identity }}"
  recipients = "{{ $age_recipient }}"

[data]
  home_domain_name = "{{ $home_domain_name }}"
  home_fileserver_hostname = "{{ $home_fileserver_hostname }}"
  email = "{{ $email }}"
  gitemail = "{{ $gitemail }}"
  category = "{{ $category }}"
  home_vault = "{{ $home_vault }}"
  work_vault = "{{ $work_vault }}"
  aws_account_number = "{{ $aws_account_number }}"
  piknik_role = "{{ $piknik_role }}"
