.CFUserTextEncoding
.DS_Store
.Trash
.ansible
.ansible_async
.asdf
.awsume
.bash_history
.berkshelf
.boto
.bundle
.cache
.chef*
.circleci
.colima
.config/AWS*
.config/chezmoi
.config/configstore
.config/gh/hosts.yml
.config/htop
.config/iterm2
.config/op
.config/pip
.config/wireshark
.cookiecutter*
.cups
.devenv
.docker
.dokken
.dropbox
.electron
.esets
.filebot/*
!.filebot/license.txt
.gem
.git-credentials
.gk
.gnupg
.google_libcloud_auth.*
.granted/*
!.granted/config
.gsutil
.helm
.histfile
.inspec
.jsonresume.json
.kindle
.kitchen
.krew
.kube
.lesshst
.local
.lpass
.m2
.minikube
.mysql_history
.nodenv
.npm
.npmrc
.node-gyp
.op
.oracle_jre_usage
.packer.d
.pyenv
.pylint.d
.python_history
.rbenv
.saml2aws*
.shared_sync
.siege
.skaffold
.smproxy.md5
.ssh/known_hosts*
.terraform.d
.tfh
.tflint.d
.unison
.vagrant.d
.vault-token
.vim
.viminfo
.vimtags
.virtualenvs
.vs-kubernetes
.vscode
.vscode-insiders
.vscode-server
.wget-hsts
.yarnrc
.z
.zcompdump*
.zoomus
.zplug
.zsh_history
.zsh_sessions
README.md
{{ if ne .chezmoi.os "darwin" -}}
Library/Application Support
.filebot
.iterm2
.iterm2_shell_integration.zsh
{{ end -}}
{{ if eq .category "work" -}}
.codeartifact_env
.gitconfig_mntv
.aws/*
Library/Application Support/Dash
{{ end -}}
setup.sh
