{{ if eq .chezmoi.os "darwin" -}}
tap "filippo.io/age", "https://filippo.io/age"
tap "homebrew/bundle"
tap "homebrew/services"
tap "martido/graph"
tap "microsoft/git"
tap "robscott/tap"
{{ if eq .category "work" -}}
tap "metalbear-co/mirrord"
brew "adr-tools"
{{ end -}}
brew "age"
brew "arping"
brew "autoconf"
brew "ca-certificates"
brew "asdf"
brew "xz"
brew "awscli"
brew "p7zip"
brew "chart-testing"
brew "chezmoi"
brew "cookiecutter"
brew "dive"
brew "dockutil"
brew "entr"
brew "freetype"
brew "fontconfig"
brew "fzf"
brew "ghorg"
brew "gh"
brew "gettext"
brew "git"
brew "git-delta"
brew "glib"
brew "graphviz"
brew "htop"
brew "oniguruma"
brew "jq"
brew "kind"
brew "krew"
brew "kubeconform"
brew "kubectx"
brew "kubernetes-cli"
brew "ldns"
brew "minikube"
brew "netpbm"
brew "nmap"
brew "openssh"
brew "pipenv"
brew "pipx"
brew "pre-commit"
brew "pstree"
brew "shellcheck"
brew "shfmt"
brew "sops"
brew "stern"
brew "the_silver_searcher"
brew "trash"
brew "tree"
brew "unison"
brew "vim"
brew "watch"
brew "wget"
brew "yamllint"
brew "python-yq"
brew "zoxide"
brew "zsh"
brew "zsh-completions"
brew "robscott/tap/kube-capacity"
{{ if eq .category "home" -}}
brew "hugo"
brew "piknik"{{ if eq .piknik_role "server" "hybrid" }}, restart_service: true{{ end }}
brew "yt-dlp"
{{ end -}}
{{ if eq .category "work" -}}
brew "argocd"
brew "colima"
brew "go-jira"
brew "metalbear-co/mirrord/mirrord"
{{ end -}}
cask "1password"
cask "1password-cli"
cask "adobe-acrobat-reader"
cask "alfred"
cask "docker"
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-iosevka-nerd-font"
cask "font-menlo-for-powerline"
cask "git-credential-manager"
cask "google-drive"
cask "hammerspoon"
cask "iterm2"
cask "kap"
cask "macfuse"
cask "moom"
cask "notion"
cask "obsidian"
cask "plexamp"
cask "raindropio"
cask "rectangle"
cask "syncthing"
cask "typora"
cask "visual-studio-code"
cask "wireshark"
{{ if eq .category "home" -}}
cask "burn"
cask "calibre"
cask "google-chrome"
cask "handbrake"
cask "keybase"
cask "makemkv"
cask "micro-snitch"
cask "pocket-casts"
cask "raspberry-pi-imager"
cask "rescuetime"
cask "sidequest"
cask "signal"
cask "slack"
cask "spotify"
cask "steam"
cask "tunnelblick"
cask "vlc"
cask "zoom"
{{ end -}}
{{ if eq .category "work" -}}
cask "ankerwork"
cask "aws-vpn-client"
cask "logitech-camera-settings"
{{ end -}}
{{ end -}}
