[user]
  name = Bill ONeill
  email = {{ .email }}
[core]
  autocrlf = input
  safecrlf = true
  editor = vim
  excludesfile = ~/.gitignore_global
{{- if eq .chezmoi.os "darwin" }}
  pager = diff-so-fancy | less --tabs=4 -RFX
{{- end }}
[init]
  defaultBranch = main
{{- if eq .chezmoi.os "darwin" }}
[merge]
  tool = opendiff
[mergetool]
  prompt = false
{{- end }}
[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true
[push]
  default = current
[diff]
{{- if eq .chezmoi.os "darwin" }}
  tool = opendiff
{{- end }}
  compactionHeuristic = true
[difftool]
  prompt = false
[rerere]
  enabled = true
[hub]
  protocol = https
{{- if .github_enterprise_host }}
  host = {{ .github_enterprise_host }}
{{- end }}
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 227
  frag = magenta bold
  commit = 227 bold
  old = red bold
  new = green bold
  whitespace = red reverse
[rebase]
  autostash = true
[stash]
  showPatch = true
[diff "sopsdiffer"]
  textconv = sops -d
[pull]
  ff = only
[fetch]
  prune = true
[credential]
  helper = {{ if eq .chezmoi.os "darwin" }}/usr/local/share/gcm-core/git-credential-manager{{ else }}store{{ end }}
[credential "https://dev.azure.com"]
  useHttpPath = true
{{- if eq .category "work" }}
{{- if .github_enterprise_host }}
[credential "https://{{ .github_enterprise_host }}"]
  provider = github
{{- end }}
{{- end }}
