[user]
	name = Bill ONeill
	email = {{ default .email .gitemail }}
[branch]
	sort = -committerdate
[color]
	ui = true
[column]
	ui = auto
[core]
	autocrlf = input
	safecrlf = true
	editor = vim
	excludesfile = ~/.gitignore_global
{{- if eq .chezmoi.os "darwin" }}
	pager = delta
{{- end }}
[credential]
	helper = {{ if eq .chezmoi.os "darwin" }}/usr/local/share/gcm-core/git-credential-manager{{ else }}store{{ end }}
[credential "https://dev.azure.com"]
	useHttpPath = true
{{- if eq .category "work" }}
[credential "https://github.com"]
	username = woneill_mntv
{{- end }}
[credential "https://github.com/woneill"]
	username = woneill
[delta]
	navigate = true
[diff]
	colorMoved = plain
	algorithm = histogram
	renames = true
[diff "sopsdiffer"]
	textconv = sops -d
[fetch]
	prune = true
	pruneTags = true
	all = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[init]
	defaultBranch = main
	templateDir = ~/.git-template
{{- if eq .chezmoi.os "darwin" }}
[interactive]
	diffFilter = delta --color-only
{{- end }}
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true
[rerere]
	enabled = true
	autoupdate = true
[stash]
	showPatch = true
[tag]
	sort = version:refname
