[user]
  name = Bill ONeill
  email = {{ default .email .gitemail }}
[core]
  autocrlf = input
  safecrlf = true
  editor = vim
  excludesfile = ~/.gitignore_global
{{- if eq .chezmoi.os "darwin" }}
  pager = delta
{{- end }}
[init]
  defaultBranch = main
  templateDir = ~/.git-template
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[merge]
  conflictstyle = diff3
[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true
[push]
  default = current
[diff]
  colorMoved = default
[rerere]
  enabled = true
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 227
  frag = magenta bold
  commit = 227 bold
  old = red bold
  new = green bold
  whitespace = red reverse
[rebase]
  autostash = true
[stash]
  showPatch = true
[diff "sopsdiffer"]
  textconv = sops -d
[pull]
  ff = only
[fetch]
  prune = true
{{- if .github_enterprise_host }}
[credential "https://{{ .github_enterprise_host }}"]
	provider = github
{{- end }}
[credential]
	helper = {{ if eq .chezmoi.os "darwin" }}/usr/local/share/gcm-core/git-credential-manager{{ else }}store{{ end }}
[credential "https://dev.azure.com"]
	useHttpPath = true
