{{ if eq .category "tpt" -}}
helm 2.9.1
{{ else -}}
helm 2.9.1 system
{{ end -}}
nodejs system
python system
ruby system
terraform system
terraform-docs system
{{ if eq .category "tpt" -}}
tfsec 0.18.0
{{ end -}}
