actionlint 1.7.7
container-structure-test 1.19.3
direnv 2.35.0
golang 1.24.0
golangci-lint 1.64.5
hadolint 2.12.0
helm-docs 1.14.2
helm 3.17.1
helmfile 0.171.0
java system
kubectl system
maven system
nodejs 23.8.0
poetry 2.1.0
python 3.13.2
ruby system
skaffold 2.14.0
{{ if ne .category "work" -}}
talhelper 3.0.18
talosctl 1.9.3
{{ end -}}
terraform-docs 0.19.0
terraform 1.10.5
terraformer 0.8.24
tflint 0.55.1
tfsec 1.28.13
trivy 0.59.1
vault 1.18.4
