{{ if eq .chezmoi.os "darwin" -}}
{{ if eq .category "tpt" -}}
tap "chef/chef"
tap "git-chglog/git-chglog"
{{ end -}}
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "instrumenta/instrumenta"
tap "martido/graph"
tap "norwoodj/tap"
{{ if eq .category "tpt" -}}
tap "reactiveops/tap"
{{ end -}}
tap "twpayne/taps"
{{ if eq .category "tpt" -}}
tap "weaveworks/tap"
{{ end -}}
brew "arping"
brew "autoconf"
brew "asdf"
{{ if eq .category "tpt" -}}
brew "aws-iam-authenticator"
{{ end -}}
brew "xz"
brew "awscli"
brew "p7zip"
brew "cookiecutter"
brew "coreutils"
brew "ctags"
brew "curl"
brew "diff-so-fancy"
brew "direnv"
brew "dockutil"
brew "dos2unix"
brew "freetype"
brew "fontconfig"
brew "fzf"
brew "gd"
brew "gettext"
brew "gist"
brew "git"
brew "git-crypt"
brew "git-extras"
brew "pcre"
brew "glib"
brew "gnu-getopt"
brew "gnu-sed"
brew "gnu-tar"
brew "gnutls"
brew "ipcalc"
brew "libgcrypt"
brew "gnupg"
brew "go"
brew "gts"
brew "libtool"
brew "graphviz"
brew "hadolint"
brew "htop"
brew "hub"
brew "hugo"
{{ if eq .category "tpt" -}}
brew "istioctl"
{{ end -}}
brew "oniguruma"
brew "jq"
brew "jrnl"
brew "node"
brew "jsonlint"
brew "krew"
{{ if eq .category "tpt" -}}
brew "lastpass-cli"
{{ end -}}
brew "m-cli"
brew "mas"
brew "mdcat"
brew "minikube"
{{ if eq .category "tpt" -}}
brew "mysql"
{{ end -}}
brew "nmap"
brew "openssh"
{{ if eq .category "tpt" -}}
brew "packer"
{{ end -}}
brew "pandoc"
brew "pinentry-mac"
brew "pipenv"
brew "pre-commit"
brew "proselint"
brew "pstree"
brew "pv"
{{ if eq .category "tpt" -}}
brew "redis"
{{ end -}}
brew "ruby-build"
brew "ruby"
brew "ruby-install"
brew "shellcheck"
brew "siege"
brew "socat"
brew "sops"
brew "ssh-copy-id"
brew "terminal-notifier"
brew "the_silver_searcher"
brew "tree"
brew "unison"
{{ if eq .category "home" -}}
brew "unrar"
{{ end -}}
brew "vim"
brew "watch"
brew "wget"
brew "yamllint"
{{ if eq .category "tpt" -}}
brew "yarn"
{{ end -}}
brew "ykpers"
brew "ykman"
{{ if eq .category "home" -}}
brew "youtube-dl"
{{ end -}}
brew "yq"
brew "yubico-piv-tool"
brew "zsh"
brew "zsh-completions"
{{ if eq .category "tpt" -}}
brew "git-chglog/git-chglog/git-chglog"
{{ end -}}
brew "instrumenta/instrumenta/kubeval"
brew "norwoodj/tap/helm-docs"
{{ if eq .category "tpt" -}}
brew "reactiveops/tap/polaris"
brew "reactiveops/tap/rbac-lookup"
{{ end -}}
brew "twpayne/taps/chezmoi"
{{ if eq .category "tpt" -}}
brew "weaveworks/tap/eksctl"
{{ end -}}
cask "1password"
cask "1password-cli"
cask "adobe-acrobat-reader"
cask "alfred"
{{ if eq .category "home" -}}
cask "calibre"
{{ end -}}
cask "dash"
cask "docker"
{{ if eq .category "home" -}}
cask "filebot"
{{ end -}}
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-iosevka-nerd-font"
cask "font-menlo-for-powerline"
cask "google-chrome"
{{ if eq .category "tpt" -}}
cask "google-drive-file-stream"
{{ else -}}
cask "google-drive"
{{ end -}}
{{ if eq .category "home" -}}
cask "handbrake"
{{ end -}}
cask "iterm2"
{{ if eq .category "home" -}}
cask "keepassxc"
{{ end -}}
cask "keybase"
cask "kindlegen"
cask "licecap"
{{ if eq .category "home" -}}
cask "logitech-myharmony"
cask "makemkv"
{{ end -}}
cask "meld"
{{ if eq .category "home" -}}
cask "musicbrainz-picard"
{{ end -}}
cask "ngrok"
cask "notion"
cask "osxfuse"
{{ if eq .category "tpt" -}}
cask "plantronics-hub"
{{ end -}}
cask "pocket-casts"
cask "postman"
cask "rescuetime"
cask "skitch"
cask "slack"
cask "spectacle"
cask "spotify"
{{ if eq .category "tpt" -}}
cask "vagrant"
cask "virtualbox"
cask "virtualbox-extension-pack"
{{ end -}}
{{ if eq .category "home" -}}
cask "supersync"
cask "transmission"
cask "tunnelblick"
{{ end -}}
cask "visual-studio-code"
{{ if eq .category "home" -}}
cask "vlc"
{{ end -}}
cask "wireshark"
cask "wkhtmltopdf"
cask "xquartz"
cask "yubico-authenticator"
cask "yubico-yubikey-manager"
cask "yubico-yubikey-personalization-gui"
cask "zoomus"
{{ if eq .category "tpt" -}}
cask "chefdk"
{{ end -}}
mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
{{ if eq .category "tpt" -}}
mas "LastPass", id: 926036361
{{ end -}}
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Pocket", id: 568494494
{{ if eq .category "home" -}}
mas "QVR Client", id: 806101067
{{ end -}}
mas "Xcode", id: 497799835
{{ end -}}
