{{ if eq .chezmoi.os "darwin" -}}
tap "filippo.io/age", "https://filippo.io/age"
tap "fujiwara/tap"
tap "goreleaser/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "instrumenta/instrumenta"
tap "johanhaleby/kubetail"
tap "martido/graph"
tap "minamijoyo/tfmigrate"
tap "minamijoyo/tfupdate"
tap "robscott/tap"
brew "age"
brew "arping"
brew "autoconf"
brew "asdf"
brew "xz"
brew "awscli"
brew "p7zip"
brew "chezmoi"
brew "cookiecutter"
brew "coreutils"
brew "ctags"
brew "diff-so-fancy"
brew "dive"
brew "dockutil"
brew "dos2unix"
brew "entr"
brew "freetype"
brew "fontconfig"
brew "fzf"
brew "gettext"
brew "gist"
brew "git"
brew "git-extras"
brew "glab"
brew "glib"
brew "gnu-getopt"
brew "gnu-sed"
brew "gnu-tar"
brew "graphviz"
brew "htop"
brew "hub"
brew "hugo"
brew "oniguruma"
brew "jq"
brew "kind"
brew "krew"
brew "kubectx"
brew "m-cli"
brew "mas"
brew "mdcat"
brew "minamijoyo/tfmigrate/tfmigrate"
brew "minamijoyo/tfupdate/tfupdate"
brew "minikube"
brew "nmap"
brew "openssh"
brew "pipenv"
brew "pre-commit"
brew "pstree"
brew "pwgen"
brew "ruby-build"
brew "ruby-install"
brew "shellcheck"
brew "shfmt"
brew "siege"
brew "socat"
brew "sops"
brew "stern"
brew "the_silver_searcher"
brew "tree"
brew "unison"
brew "vim"
brew "watch"
brew "wget"
brew "yamllint"
{{ if eq .category "home" -}}
brew "youtube-dl"
{{ end -}}
brew "yq"
brew "zsh"
brew "zsh-completions"
brew "fujiwara/tap/tfstate-lookup"
brew "goreleaser/tap/goreleaser"
brew "instrumenta/instrumenta/kubeval"
brew "johanhaleby/kubetail/kubetail"
brew "robscott/tap/kube-capacity"
cask "1password"
cask "1password-cli"
cask "adobe-acrobat-reader"
cask "alfred"
{{ if eq .category "home" -}}
cask "calibre"
{{ end -}}
cask "dash"
cask "docker"
cask "dropbox"
{{ if eq .category "home" -}}
cask "filebot"
{{ end -}}
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-iosevka-nerd-font"
cask "font-menlo-for-powerline"
cask "google-chrome"
cask "google-cloud-sdk"
cask "google-drive"
{{ if eq .category "home" -}}
cask "handbrake"
{{ end -}}
cask "hammerspoon"
cask "iterm2"
cask "keybase"
cask "kap"
{{ if eq .category "home" -}}
cask "makemkv"
{{ end -}}
cask "logitech-camera-settings"
cask "micro-snitch"
cask "moom"
{{ if eq .category "home" -}}
cask "musicbrainz-picard"
{{ end -}}
cask "muzzle"
cask "ngrok"
cask "notion"
cask "obsidian"
cask "osxfuse"
{{ if eq .category "work" -}}
cask "plantronics-hub"
{{ end -}}
cask "plexamp"
cask "pocket-casts"
cask "rescuetime"
cask "signal"
cask "skitch"
cask "slack"
cask "spectacle"
cask "spotify"
cask "tunnelblick"
cask "typora"
cask "visual-studio-code"
{{ if eq .category "home" -}}
cask "vlc"
{{ end -}}
cask "wireshark"
cask "zoom"
{{ if eq .category "home" -}}
mas "CleanMyDrive 2", id: 523620159
mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Meeter", id: 1510445899
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
{{ end -}}
mas "Pocket", id: 568494494
{{ if eq .category "home" -}}
mas "QVR Client", id: 806101067
{{ end -}}
mas "Xcode", id: 497799835
{{ end -}}
