{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# ~/.Brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}
if [ -f "${HOME}/.Brewfile" ]; then
    brew update

    brew bundle check --global --no-upgrade >/dev/null 2>&1  || {
        echo "==> Installing Global Homebrew dependencies…"
        brew bundle install --verbose --no-upgrade --no-lock --global
    }
fi
{{ end -}}
