{{ if eq .category "home" -}}
{{- onepasswordDocument "Home SSH pub key" "Private" -}}
{{ end -}}
{{ if eq .category "work" -}}
{{- onepasswordDocument "SurveyMonkey SSH pub key" "SurveyMonkey" -}}
{{ end -}}
