{{ if eq .category "work" -}}
{{- onepasswordDocument "Momentive SSH private key" "Momentive" -}}
{{ else if eq .category "home" -}}
{{- onepasswordDocument "Home SSH private key" "Private" -}}
{{ end -}}
