{{ if eq .chezmoi.os "darwin" -}}
{
  "Profiles" : [
    {
      "Use Separate Colors for Light and Dark Mode" : true,
      "Rewritable" : true,
      "Scrollback With Status Bar" : true,
      "Guid" : "EA52A580-F90D-4F81-8699-182867B61C4A",
      "Normal Font" : "MesloLGS-NF-Regular 15",
      "Name" : "woneill",
      "Unlimited Scrollback" : true,
      "Draw Powerline Glyphs" : true
    }
  ]
}
{{ end -}}
