{{ if eq .chezmoi.os "darwin" -}}
{
  "Profiles": [
    {
      "Guid": "EA52A580-F90D-4F81-8699-182867B61C4A",
      "Name": "woneill",
      "Normal Font": "MenloForPowerline-Regular 15",
      "Scrollback With Status Bar": true,
      "Unlimited Scrollback": true,
      "Use Separate Colors for Light and Dark Mode" : true
    }
  ]
}
{{ end -}}
