{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
alias ack=ag

export JAVA_HOME="/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home"
export EDITOR=/usr/local/bin/vim

alias dns="sudo launchctl unload -w /System/Library/LaunchDaemons/com.apple.mDNSResponder.plist; sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.mDNSResponder.plist"
alias camera_reset="sudo killall VDCAssistant"

if [ -f "$(brew --prefix)/etc/bash_completion" ]; then
    # shellcheck source=/usr/local/etc/bash_completion
    . $(brew --prefix)/etc/bash_completion
    # shellcheck source=/usr/local/etc/bash_completion.d/git-prompt.sh
    source $(brew --prefix)/etc/bash_completion.d/git-prompt.sh
    export GIT_PS1_SHOWDIRTYSTATE=true
    export GIT_PS1_SHOWUNTRACKEDFILES=true
    export GIT_PS1_SHOWUPSTREAM='verbose name'
    #export GIT_PS1_SHOWCOLORHINTS=true
    PS1='\h:\W$(__git_ps1 " (%s)")\$ '
fi

# A bash function to display a growl notification using iTerm's magic
# escape sequence. This version will work under screen.

growl() {
    terminal-notifier -activate com.googlecode.iterm2 -title "Pssssst !!" -subtitle "A message from your shell:" -message "$@"
}

[ -f /usr/local/etc/profile.d/bash-preexec.sh ] && . /usr/local/etc/profile.d/bash-preexec.sh
{{ end -}}