Host {{ .home_fileserver_hostname }} {{ list .home_fileserver_hostname .home_domain_name | join "." }}
    ForwardAgent yes
{{- if ne .category "home" }}
    Hostname {{ list .home_fileserver_hostname .home_domain_name | join "." }}
    IdentityFile ~/.ssh/id_rsa_home
{{- end }}

{{ if eq .category "home" -}}
Host kindle
    User root
    Hostname KindlePaperwhite
    Port 2222
    PubkeyAcceptedKeyTypes +ssh-rsa

Host unifi
    User root
    Hostname 192.168.1.1
    HostkeyAlgorithms +ssh-rsa
    PubkeyAcceptedKeyTypes +ssh-rsa

Host *
    AddKeysToAgent yes
    UseKeychain yes
{{ end -}}
