{{- if .github_enterprise_host -}}
{{ .github_enterprise_host }}:
- user: woneill
  oauth_token: {{ .github_enterprise_oauth_token }}
  protocol: https
{{- end }}
github.com:
- user: woneill
  oauth_token: {{ .github_oauth_token }}
  protocol: https
